// _typography.scss
// =============================================================================
 
// Body
html,
body
{
    font-family: $font-family;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    line-height: 1.8rem;
    letter-spacing: 0.9px;
    color: $color-primary;
    background-color: $color-secondary;
 
    @include respond-to(md)
    {
        font-size: $font-size-normal;
         line-height: 2.5rem;
    }
}
 
// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-family: $font-family;
    font-weight: $font-weight-bold;
    color: $color-primary;
}
 
h1, .h1
{
    // Mobile font size
    font-size: 35px;
    line-height: 1.2;
 
    @include respond-to(md)
    {
        // Desktop font-size
        font-size: 70px;
        line-height: 1.2;
    }
}
 
h2, .h2
{
    // Mobile font size
    //font-size: value;
    //line-height: value;
 
    @include respond-to(md)
    {
        // Desktop font-size
        font-size: 55px;
        //line-height: value;
    }
}
 
h3, .h3
{
    // Mobile font size
    //font-size: value;
    //line-height: value;
 
    @include respond-to(md)
    {
        // Desktop font-size
        font-size: 1.25rem;
        //line-height: value;
    }
}
 
h4, .h4
{
    // Mobile font size
  font-size: 20px;
    //line-height: value;
 
}
 
h5, .h5
{
    // Mobile font size
           font-size: 16px;
    //line-height: value;

}
 
h6, .h6
{
    // Mobile font size
    //font-size: value;
    //line-height: value;
 
    @include respond-to(md)
    {
        // Desktop font-size
        //font-size: value;
        //line-height: value;
    }
}
 
// Rich Text Editor
.rte
{
    // Lists
    ul,
    ol
    {
        padding-left: 20px;
    }
 
    // Hyperlinks
    a
    {
    }
}
