.border-b {
    position: relative;
    border-bottom: solid 5px $color-primary;
     
    &:after {
        content: "";
        position: absolute;
        top: 1rem;
        left: 1rem;
       height: 100%;
            width: 100%;
        opacity: 0.2;
        filter: blur(3px);
        border-bottom: solid 5px $color-primary;
    }
}

.small-font { 
    font-size: $font-size-small
}

.normal-font {
    font-size: $font-size-normal
}

ul {
    list-style-type: none;
    li {
        a {
            text-decoration: none;
        } 
    }
}

